{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'favorite' %}

{% set body_class = 'mypage' %}

{% block stylesheet %}

<style>
.fa-eye{
    color: #e6e6fa;
    cursor: pointer;
}
.opened{
    color: #eb6100;
}
.star-display{
  display: flex;
}
.star-on {
  position: relative;
  padding: 0 4px;
  color: #f00;
  font-size: 20px;
}
.star-off {
  position: relative;
  padding: 0 4px;
  color: #ccc;
  font-size: 20px;
}
.edit-comment{
    margin: 4px 0;
}
.edit-comment a{
  font-size: 16px;
  padding: 2px;
  border: solid 1px #333;
  border-radius:2px;
  background-color: #eee;
}
.btn--sns,
a.btn--sns {
  color: #fff;
  background-color: #eb6100;
}
.btn--sns:hover,
a.btn--sns:hover {
  color: #fff;
  background: #f56500;
}
</style>
{% endblock %}


{% block javascript %}
<script>
$(function(){
    let open = $('.open-toggle');
    let openId;
    open.on('click',function(){
        let $this = $(this); //this=イベントの発火した要素＝iタグを代入
        openId = $this.data('id'); //iタグに仕込んだdata-idの値を得る
        $.ajax({
            method: "POST",
            url: "/mypage/open/status",
            data: {'id' : openId},
            })
            .done(function(data){
            $this.toggleClass('opened');
            console.log('success!');
            }).fail(function(){
            console.log('fail!!')
        });
    });
});
</script>
{% endblock %}

{% block main %}

    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'front.mypage.title'|trans }}/{{ 'front.mypage.nav__favorite'|trans }}</h1>
            </div>
            {% include 'Mypage/navi.twig' %}
        </div>
        <div class="ec-mypageRole">
            <div class="ec-favoriteRole">
                {% if pagination.totalItemCount > 0 %}
                    <div class="ec-favoriteRole__header">
                        <p>{{ 'front.mypage.favorite_count'|trans({'%count%':pagination.totalItemCount}) }}</p>
                    </div>
                    <div class="ec-favoriteRole__detail">
                        <ul class="ec-favoriteRole__itemList">
                            {% for FavoriteProduct in pagination %}
                                {% set Product = FavoriteProduct.Product %}
                                <li class="ec-favoriteRole__item">
                                    <a class="ec-closeBtn--circle"
                                       href="{{ url('mypage_favorite_delete', { id : Product.id }) }}" {{ csrf_token_for_anchor() }}
                                       data-method="delete">
                                        <div class="ec-icon">
                                            <img src="{{ asset('assets/icon/cross-white.svg') }}" alt="close">
                                        </div>
                                    </a>
                                    <a class="ec-favoriteRole__itemThumb" href="{{ url('product_detail', {'id': Product.id}) }}">
                                        <p class="ec-favoriteRole__item-image">
                                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                        </p>
                                    </a>
                                    <p class="ec-favoriteRole__itemTitle">{{ Product.name }}</p>


                                    <p class="ec-favoriteRole__itemPrice">
                                        {% if Product.price02_inc_tax_min == Product.price02_inc_tax_max %}
                                            {{ Product.price02_inc_tax_min|price }}
                                        {% else %}
                                            {{ Product.price02_inc_tax_min|price }}～{{ Product.price02_inc_tax_max|price }}
                                        {% endif %}
                                    </p>
                                    <p>{{ FavoriteProduct.comment }}</p>
                                    <div class="star-display">
                                        {% for i in range(1,4) %}
                                            {% if i <= FavoriteProduct.priority %} <div class="star-on">★</div>
                                            {% else %} <div class="star-off">★</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>


                                    <div class="edit-comment">
                                    <a href="{{ url('mypage_favorite_update', { id : FavoriteProduct.id }) }}">コメントを編集</a>
                                    {# <input type="submit" action="{{ url('mypage_favorite_open', { id : FavoriteProduct.id }) }}" method="POST"> #}
                                    </div>
                                    <div class="open-status-wrapper">
                                        {% if FavoriteProduct.open %}
                                        <i class="fas fa-eye open-toggle opened" data-id={{FavoriteProduct.id}}></i>
                                        {% else %}
                                        <i class="fas fa-eye open-toggle" data-id={{FavoriteProduct.id}}></i>
                                        {% endif %}
                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="ec-pagerRole">
                        {% include "pager.twig" with {'pages': pagination.paginationData} %}
                    </div>
                {% else %}
                    <div class="ec-favoriteRole__header">{{ 'front.mypage.favorite_not_found'|trans }}</div>
                {% endif %}
                <div class="sns-share">
                <a href="{{ url('favorite_share', { user_id : Customer.id }) }}" class="btn btn--sns">SNSでシェアする</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
