
{% extends 'default_frame.twig' %}

{% set mypageno = 'favorite2' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% set body_class = 'mypage' %}

{% block main %}

{% block stylesheet %}
<style>
.review-form-wrapper{
    margin: 0 5%;
}
.comment-delete-button{
  margin:10px 0;
}
.comment-delete-button a{
  font-size: 14px;
  padding: 2px;
  border: solid 1px #f00;
  border-radius:2px;
  background-color: #f99;
}
</style>
{% endblock %}

<div class="ec-mypageRole">
    <div class="ec-pageHeader">
        <h1>コメントの編集</h1>
    </div>
    {% include 'Mypage/navi.twig' %}
</div>
<div class="ec-mypageRole">
  <div class="ec-favoriteRole">
    <div class="ec-favoriteRole__detail">
        <ul class="ec-favoriteRole__itemList">
          {% for FavoriteProduct in pagination %}
              {% set Product = FavoriteProduct.Product %}
              <li class="ec-favoriteRole__item">
                  <a class="ec-favoriteRole__itemThumb" href="{{ url('product_detail', {'id': Product.id}) }}">
                      <p class="ec-favoriteRole__item-image">
                          <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                      </p>
                  </a>
                  <p class="ec-favoriteRole__itemTitle">{{ Product.name }}</p>
                  <p class="ec-favoriteRole__itemPrice">
                      {% if Product.price02_inc_tax_min == Product.price02_inc_tax_max %}
                          {{ Product.price02_inc_tax_min|price }}
                      {% else %}
                          {{ Product.price02_inc_tax_min|price }}～{{ Product.price02_inc_tax_max|price }}
                      {% endif %}
                  </p>
              </li>


          {% endfor %}
                <div class="review-form-wrapper">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {# {{ form_widget(form.comment, { 'attr': { 'data': FavoriteProduct.comment }}) }} #}

                    <input type="submit" action="{{ url('mypage_favorite_update', { id : id }) }}" method="POST">

                    {{ form_end(form) }}
                    <div class="comment-delete-button">
                    <a href="{{ url('mypage_favorite_complete', {id : id}) }}">評価を削除</a>
                    </div>
                </div>
        </ul>
    </div>
  </div>
</div>

{% endblock %}

